/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  /* Change favorite color to match images */
  /*Green dark 190 - Green 171 - Grren Blue 200*/
  --hue-color: 190;

  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 64%, 22%);
  --first-color-second: hsl(var(--hue-color), 64%, 22%);
  --first-color-alt: hsl(var(--hue-color), 64%, 15%);
  --title-color: hsl(var(--hue-color), 64%, 18%);
  --text-color:hsl(225, 8%, 48%);
  --text-color-light: hsl(var(--hue-color), 8%, 60%);
  --input-color: hsl(var(--hue-color), 24%, 97%);
  --body-color: hsl(var(--hue-color), 100%, 99%);
  --white-color: #FFF;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 75%);
  --sky-blue-crayola: hsl(188, 64%, 60%);
  --raisin-black_90: hsla(240, 8%, 12%, 0.9);
  --raisin-black-1: hsl(240, 8%, 17%);
  --raisin-black-2: hsl(240, 8%, 12%);
  --majorelle-blue: hsl(285, 77%, 63%);
  --blue-ryb_80: hsla(292, 100%, 54%, 0.8);
  --bittersweet: hsl(0, 100%, 69%);
  --eerie-black: hsl(0, 0%, 13%);
  --ghost-white: hsl(230, 60%, 98%);
  --light-gray: hsl(0, 0%, 80%);
  --slate-gray: hsl(225, 8%, 48%);
  --cool-gray: hsl(225, 11%, 59%);
  --gainsboro: hsl(217, 16%, 90%);
  --mustard: #9933cc;
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --onyx: hsl(240, 5%, 26%);
  --jet: hsl(0, 0%, 21%);


  /*========== Font and typography ==========*/
  --body-font: 'Open Sans', sans-serif;
  --title-font: 'Raleway', sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;


  /**
   * gradient
   */

   --gradient: radial-gradient(ellipse at center, hsla(0, 0%, 0%, 0.25), transparent 80%);

   /**
    * typography
    */
 
   --ff-dm-sans: 'DM Sans', sans-serif;
 
   --fs-1: 4rem;
   --fs-2: 3.5rem;
   --fs-3: 2.4rem;
   --fs-4: 2.2rem;
   --fs-5: 2rem;
   --fs-6: 1.8rem;
   --fs-7: 1.7rem;
   --fs-8: 1.5rem;
   --fs-9: 1.4rem;
 
   --fw-500: 500;
   --fw-700: 700;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;

  /*========== Hover overlay ==========*/
  --img-transition: .3s;
  --img-hidden: hidden;
  --img-scale: scale(1.1);

   /**
   * spacing
   */

   --section-padding: 100px;

   /**
    * shadow
    */
 
   --shadow-1: 0px 2px 50px hsla(223, 40%, 76%, 0.3);
   --shadow-2: 0px -2px 12px hsl(252, 29%, 93%);
   --shadow-3: 0px 4px 4px hsla(231, 20%, 49%, 0.06);
   --shadow-4: 0px 15px 30px hsla(210, 30%, 32%, 0.05);
   --shadow-5: 0px 15px hsla(241, 62%, 34%, 0.04);
 
   /**
    * radius
    */
 
   --radius-8: 8px;
   --radius-10: 10px;
   --radius-15: 15px;
   --radius-20: 20px;

   
  /**
   * transition
   */

   --transition-1: 0.25s ease;
   --transition-2: 0.5s ease;
   --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
   --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
  --first-color-second: hsl(var(--hue-color), 54%, 12%);
  --title-color: hsl(var(--hue-color), 24%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: hsl(var(--hue-color), 29%, 12%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}

/*========== Button Dark/Light ==========*/
.nav__dark {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  position: absolute;
  left: 3rem;
  bottom: 4rem;
}

.change-theme, .change-theme-name {
  color: var(--text-color);
}

.change-theme {
  cursor: pointer;
  font-size: 1rem;
}

.change-theme-name {
  font-size: var(--small-font-size);
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  font-family: var(--title-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

button,
input {
  border: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

button {
  cursor: pointer;
}

.has-before,
.has-after {
  position: relative;
  z-index: 1;
}

.has-before::before,
.has-after::after {
  content: "";
  position: absolute;
}

:is(.h1, .h2) .has-before { display: inline-block; }

:is(.h1, .h2) .has-before::before {
  bottom: 8px;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: var(--mustard);
  z-index: -1;
}

.btn {
  max-width: max-content;
  font-weight: var(--fw-700);
  height: 55px;
  display: flex;
  align-items: center;
  padding-inline: 50px;
  border-radius: 10px;
  overflow: hidden;
  transition: .5s ease;
}

.btn::before,
.btn::after {
  right: 0;
  width: 100%;
  height: 50%;
  transform: scaleX(0);
  background-color: var(--raisin-black-1);
  z-index: -1;
  transition: transform .3s ease;
}

.btn::before {
  top: 0;
  transform-origin: left;
}

.btn::after {
  top: 50%;
  transform-origin: right;
}

.btn:is(:hover, :focus)::before,
.btn:is(:hover, :focus)::after { transform: scaleX(1); }

.btn:is(:hover, :focus)::before { transform-origin: right; }

.btn:is(:hover, :focus)::after { transform-origin: left; }

.btn-primary {
  background-color: #9933cc;
  color: #fff;
}

.btn-primary:is(:hover, :focus) { 
  color: #fff;
}

.btn-secondary {
  background-color: var(--mustard);
  color: hsl(240, 8%, 17%);
  gap: 15px;
}

.btn-secondary::before,
.btn-secondary::after { background-color: hsl(188, 64%, 60%); }

.btn-secondary:is(:hover, :focus) { color: #fff }


input {
  outline: none;
}

.main {
  overflow-x: hidden;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4.5rem 0 2.5rem;
}

.section__title {
  font-size: 30px;
  color: var(--raisin-black-1);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: var(--mb-2);
}

.container {
  max-width: 968px;
  margin-left: var(--mb-1);
  margin-right: var(--mb-1);
}

.grid {
  display: grid;
  gap: 1.5rem;
}


/*=============== HEADER ===============*/
.header .btn { display: none; }

.nav-container { 
  padding-inline: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 25px;
  transition: padding var(--transition-1);
  z-index: 4;
}

.header.active {
  background-color: #fff;
  padding-block: 15px;
  box-shadow: var(--shadow-1);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--raisin-black-1);
  font-size: 2rem;
  font-weight: var(--fw-700);
}

.logo-img{
  width: 120px;
  height: 40px;
}

.nav-open-btn {
  background-color: var(--white);
  color: var(--eerie-black);
  font-size: 35px;
  padding: 10px;
  box-shadow: var(--shadow-2);
  border-radius: var(--radius-10);
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--raisin-black-2);
  color: #fff !important;
  max-width: 300px;
  width: 100%;
  height: 100%;
  padding: 30px;
  z-index: 1;
  transform: translateX(100%);
  visibility: hidden;
  transition: 0.25s var(--cubic-in);
}

.navbar.active {
  transform: translateX(0);
  visibility: visible;
  transition: 0.5s var(--cubic-out);
}

.navbar .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-end: 60px;
}

.nav-container ul li{  
  padding-block: 15px;
}

.navbar .logo { 
  color: var(--white); 
  font-size: 2rem;
}

.nav-close-btn {
  color: #fff !important;
  background-color: transparent;
  font-size: 30px;
  transition: var(--transition-1);
}

.nav-close-btn:is(:hover, :focus) { 
  color: var(--bittersweet); 
}

.navbar-item:not(:last-child) { 
  border-block-end: 1px solid var(--jet);
}

.navbar-link {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  padding-block: 15px;
  text-transform: uppercase;
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus) { 
  color: var(--mustard);
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--raisin-black_90);
  transition: var(--transition-2);
  opacity: 0;
  pointer-events: none;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

/*=============== HOME ===============*/
.home_containe{
  gap: 1rem;
}

.home_content{
  grid-template-columns: .5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.home_social{
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home_social-icon{
  font-size: 1.25rem;
  color: var(--cool-gray);
}

.home_social-icon:hover{
  color: var(--mustard);
}

.home_blob{
  width: 300px;
  fill: #9933cc;
}

.home_blob-img{
  width: 170px;
}

.home_data{
  grid-column: 1/3;
}

.home_title{
  font-size: 3rem;
  color: var(--raisin-black-1);
}

.home_subtitle{
  font-size: 2.5rem;
  color: var(--raisin-black-1);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
}

.home_description{
  margin-bottom: var(--mb-2);
}

.home_scroll{
  display: none;
}

.home_scroll-button{
  color: var(--cool-gray);
  transition: .3s;
}

.home_scroll-button:hover{
  transform: translateY(.25rem);
}

.home_scroll-mouse{
  font-size: 2rem;
}

.home_scroll-name{
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}

.home_scroll-arrow{
  font-size: 1.25rem;
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--white-color);
  padding: 1rem 2rem;
  font-weight: var(--font-semi-bold);
  transition: .3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button--flex {
  display: flex;
  align-items: center;
  column-gap: .25rem;
}

.button--link {
  background: none;
  padding: 0;
}

.button--link:hover {
  background: none;
}

/*=============== ABOUT ===============*/
/* .about__data {
  text-align: center;
} */

.about__container {
  row-gap: 2.5rem;
}

.about__title{
  color: var(--raisin-black-1);
}

.about__description {
  margin-bottom: var(--mb-2);
  color: var(--cool-gray);
}

.about__img {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
}

.about__img-overlay {
  overflow: var(--img-hidden);
}

.about__img-one {
  width: 130px;
}

.about__img-two {
  width: 180px;
}

.about__img-one, 
.about__img-two {
  transition: var(--img-transition);
}

.about__img-one:hover, 
.about__img-two:hover {
  transform: var(--img-scale);
}

/*=============== DISCOVER ===============*/
.discover__card {
  position: relative;
  width: 200px;
  overflow: var(--img-hidden);
}

.discover__data {
  position: absolute;
  bottom: 1.5rem;
  left: 1rem;
}

.discover__title, 
.discover__description {
  color: #fff;
}

.discover__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-25);
}

.discover__description {
  display: block;
  font-size: var(--smaller-font-size);
}

.discover__img {
  transition: var(--img-transition);
}

.discover__img:hover {
  transform: var(--img-scale);
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: none;
}

/*=============== PLACES ===============*/
.place__card, .place__img {
  height: 230px;
}

.place__container {
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
}

.place__card {
  position: relative;
  overflow: var(--img-hidden);
}

.place__card:hover .place__img {
  transform: var(--img-scale);
}

.place__img {
  transition: var(--img-transition);
}

.place__content, .place__title {
  color: var(--white-color);
}

.place__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .75rem .75rem 1rem;
}

.place__rating {
  align-self: flex-end;
  display: flex;
  align-items: center;
}

.place__rating-icon {
  font-size: .75rem;
  margin-right: var(--mb-0-25);
}

.place__rating-number {
  font-size: var(--small-font-size);
}

.place__subtitle, .place__price {
  display: block;
}

.place__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-25);
}

.place__subtitle {
  font-size: var(--smaller-font-size);
  margin-bottom: var(--mb-1-25);
}

.place__button {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: .75rem 1rem;
}

/*=============== SUBSCRIBE ===============*/
.subscribe__bg {
  background-color: var(--majorelle-blue);
  padding: 2.5rem 0;
}

.subscribe__title, 
.subscribe__description {
  color: var(--white-color);
}

.subscribe__description {
  text-align: center;
  margin-bottom: var(--mb-2-5);
}

.subscribe__form {
  background-color: var(--input-color);
  padding: .5rem;
  display: flex;
  justify-content: space-between;
}

.subscribe__input {
  width: 70%;
  padding-right: .5rem;
  background-color: var(--input-color);
  color: var(--text-color);
}

.subscribe__input::placeholder {
  color: var(--text-color);
}

.subscribe-btn{
  background-color: var(--mustard);
}

/*=============== SPONSORS ===============*/
.sponsor__container {
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  justify-items: center;
  row-gap: 3.5rem;
}

.sponsor__title{
  text-align: center;
  color: var(--raisin-black-1);
}

.sponsor__content:hover .sponsor__img {
  filter: invert(0.5);
}

.sponsor__img {
  width: 90px;
  filter: invert(0.7);
  transition: var(--img-transition);
}
/* channels */
.channel{
  /* position: relative; */
  height: 25em;
  margin-top: -2rem;
  margin-bottom: 20rem;
}
.channels {
  position: absolute;
  background-color: #ffffff;
  width: 80vw;
  max-width: 41em;
  min-height: 25em;
  border-radius: 0.6em;
  transform: translate(-50%, -50%);
  left: 50%;
  margin-top: 15rem;
  box-shadow: 0 1.8em 3em rgba(1, 17, 39, 0.15);
  display: flex;
}
.testimonial-container {
  width: 85%;
  height: 100%;
  position: relative;
  margin: auto;
  padding: 1.8em 1.2em;
}
.channels button {
  font-size: 1.8em;
  height: 2.2em;
  width: 2.2em;
  background-color: #ffffff;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  border: none;
  color: var(--mustard);
  box-shadow: 0 0 1em rgba(1, 17, 39, 0.25);
  cursor: pointer;
  border-radius: 50%;
}
button#next {
  right: -1.1em;
}
button#prev {
  left: -1.1em;
}
.testimonial-container p {
  color: #8c8c90;
  text-align: center;
  font-size: 0.9em;
  line-height: 2em;
  letter-spacing: 0.05em;
}
.testimonial-container img {
  display: block;
  margin: 1.8em auto 1.25em auto;
  border-radius: 50%;
  width: 4.4em;
}
.testimonial-container h3 {
  color: #2d3d67;
  font-size: 1em;
  text-align: center;
}
.testimonial-container h6 {
  color: #bcc4da;
  font-size: 0.9em;
  letter-spacing: 0.03em;
  font-weight: 400;
  text-align: center;
}
@media screen and (max-width: 650px) {
  .channels {
    font-size: 14px;
  }
}

@media screen and (max-width: 390px) {
  .channels {
    left: 48%;
  }
}


/* Footer */

footer{
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #181818;
  display: flex;
  font-family: sans-serif;
  justify-content: space-between;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.footer-container .sec{
  margin-right: 30px;
}

.footer-container .sec.aboutus{
  width: 40%;
}


.footer-container h2{
  position: relative;
  color: #fff;
  margin-bottom: 15px;
}


.footer-container h2::before{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: var(--mustard);
}

footer p{
  color: #999;
}

.sci{
  margin: 20px;
  display: flex;
}

.sci li{
  list-style: none;
}

.sci li a{
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #2222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
  transition: 0.5s;
}

.sci li a:hover{
  background: var(--mustard);
}

.sci li a .bx{
  color: #fff;
  font-size: 20px;
}

.quickLinks{
  position: relative;
  width: 25%;
}

.quickLinks ul li{
  list-style: none;
}

.quickLinks ul li a{
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
  transition: 0.3s;
}

.quickLinks ul li a:hover{
  color: #fff;
}

.footer-container .contactBx{
  width: calc(35% - 60px);
  margin-right: 0 !important;
}

.contactBx .info{
  position: relative;
}

.contactBx .info li{
  display: flex !important;
  margin-bottom: 16px;
}

.contactBx .info li span:nth-child(1){
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}
.contactBx .info li span{
  color: #999;
}

.contactBx .info li a{
  color: #999;
  text-decoration: none;
  transition:  0.5s;
}

.contactBx .info li a:hover{
  color: #fff;
}

.copyrightText{
  width: 100%;
  background-color: #181818;
  padding: 8px 100px;
  text-align: center;
  color: #999;
}

.socials{
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.socials .bx{
  font-size: 1.4rem;
  color: var(--text-color);
}

.socials .bx:hover{
  color: var(--second-color);
  transition: .3s all linear;
}

@media (max-width: 991px){
  footer{
      padding: 40px;
      font-size: 20px
  }

  footer .footer-container{
      flex-direction: column;
  }

  footer .footer-container .sec{
      margin-right: 0;
      margin-bottom: 40px;
  }

  footer .footer-container .sec.aboutus{
      width: 100% !important;
  }

  footer .footer-container .quickLinks{
      width: 100%;
  }

  footer .footer-container .contactBx{
      width: 100%;
  }

  .copyrightText{
      padding: 8px 40px;
  }
}

/*========== SCROLL UP ==========*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  font-size: 18px;
  padding: 16px;
  background-color: var(--mustard);
  border-radius: var(--radius-8);
  padding: .5rem;
  display: flex;
  opacity: 1;
  z-index: var(--z-tooltip);
  transition: .4s;
}

.scrollup:hover {
  background-color: var(--first-color-alt);
  opacity: 1;
}

.scrollup__icon {
  color: var(--white-color);
  font-size: 1.2rem;
}

/* Show scroll */
.show-scroll {
  bottom: 5rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: .60rem;
  background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .home_content{
    grid-template-columns: .25fr 3fr;
  }

  .home_blob{
    width: 300px;
  }

  .place__container {
    grid-template-columns: max-content;
    justify-content: center;
  }
  .experience__content {
    padding: 0;
  }
  .experience__overlay:nth-child(1) {
    width: 190px;
  }
  .experience__overlay:nth-child(2) {
    width: 80px;
  }
  .home__info {
    width: 190px;
    padding: 1rem;
  }
  .experience__img,
  .video__container {
    padding: 0;
  }
}

/* For medium devices */
@media screen and (min-width: 568px) {
  .home_content{
    grid-template-columns: max-content 1fr 1fr;
  }

  .home_data{
    grid-column: initial;
  }

  .home_img{
    order: 1;
    justify-content: center;
  }

  .video__container {
    display: grid;
    grid-template-columns: .6fr;
    justify-content: center;
  }
  .place__container {
    grid-template-columns: repeat(3, max-content);
  }
  .subscribe__form {
    width: 470px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .change-theme-name {
    display: none;
  }
  .change-theme {
    color: var(--white-color);
  }
  .active-link::before {
    background-color: var(--white-color);
  }
  .scroll-header .nav__link {
    color: var(--text-color);
  }
  .scroll-header .active-link {
    color: var(--title-color);
  }
  .scroll-header .active-link::before {
    background-color: var(--title-color);
  }
  .scroll-header .change-theme {
    color: var(--text-color);
  }
  .section {
    padding: 7rem 0 2rem;
  }
  .home_content{
    padding-top: 5.5rem;
    column-gap: 6rem;
  }

  .home_blob{
    width: 400px;
  }

  .home_scroll{
    display: block;
  }

  .home_scroll-button{
    margin-left: 3rem;
  }

  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .about__data, .about__title {
    text-align: initial;
  }
  .about__title {
    margin-bottom: var(--mb-1-5);
  }
  .about__description {
    margin-bottom: var(--mb-2);
  }
  .discover__container {
    width: 610px;
    margin-left: auto;
    margin-right: auto;
  }
  .discover__container,
  .place__container {
    padding-top: 2rem;
  }
  .experience__overlay:nth-child(1) {
    width: 363px;
    margin-right: 4rem;
  }
  .experience__overlay:nth-child(2) {
    width: 160px;
  }
  .subscribe__bg {
    background: none;
    padding: 0;
  }
  .subscribe__container {
    background-color: var(--majorelle-blue);
    padding: 3.5rem 0;
  }
  .subscribe__input {
    padding: 0 .5rem;
  }
}

@media (min-width: 992px){
  
  /**
   * HEADER
   */

   .header { padding-block-start: 47px; }

   .logo{
    font-size: 2rem;
   }

   .nav-open-btn,
   .overlay,
   .navbar .wrapper { display: none; }
 
   .navbar,
   .navbar.active { all: unset; }
 
   .navbar-item:not(:last-child) { border: none; }
 
   .navbar-list {
     display: flex;
     gap: 30px;
   }
 
   .navbar-link {
     position: relative;
     color: var(--cool-gray);
     text-transform: capitalize;
     font-size: unset;
     font-weight: var(--fw-500);
   }
 
   .navbar-link:is(:hover, :focus) { color: var(--raisin-black-1); }
 
   .navbar-link::before {
     content: "";
     position: absolute;
     bottom: 5px;
     left: 0;
     width: 0;
     height: 4px;
     border-radius: 5px;
     background-color: var(--majorelle-blue);
     transition: .3s ease;
   }
 
   .navbar-link:is(:hover, :focus)::before { width: 100%; }
 
   .header .btn { display: inline-flex; }
 
   .header .btn::before,
   .header .btn::after { background-color: var(--raisin-black-1); }
 
   .header .btn:is(:hover, :focus) { color: var(--white); }
 
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .home_blob{
    width: 320px;
  }

  .home_social{
    transform: translateX(-6rem);
  }

  .about__img-one {
    width: 230px;
  }
  .about__img-two {
    width: 290px;
  }
  .discover__card {
    width: 237px;
  }
  .discover__container {
    width: 700px;
  }
  .discover__data {
    left: 1.5rem;
    bottom: 2rem;
  }
  .discover__title {
    font-size: var(--h2-font-size);
  }
  .experience__content {
    margin: var(--mb-1) 0;
    column-gap: 3.5rem;
  }
  .experience__overlay:nth-child(1) {
    width: 463px;
    margin-right: 7rem;
  }
  .experience__overlay:nth-child(2) {
    width: 220px;
    top: 3rem;
  }
  .video__container {
    grid-template-columns: .7fr;
  }
  .video__description {
    padding: 0 8rem;
  }
  .place__container {
    gap: 3rem 2rem;
  }
  .place__card, .place__img {
    height: 263px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1024px;
  }
}

/* For tall screens on mobiles y desktop*/
@media screen and (min-height: 721px) {
  body {
    margin: 0;
  }
  .home__container, .home__img {
    height: 640px;
  }
}
